@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.table-responsive {
  padding: 0rem;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.table thead {
  background-color: #2c3e50;
  border-color: #2c3e50;
  padding: 1rem;
  border-radius: 1rem;
  color: #ffffff;
}

.table thead th {
  font-size: 13px;
  padding: 12px 8px;
}

.table-text-center {
  border-radius: 1rem;
}

.table tbody tr {
  background-color: #e9f0f8;
  color: #333333;
}

.table tbody tr:nth-child(even) {
  background-color: #d0dfe9;
  color: #333333;
}

.table tbody tr:hover {
  background-color: #c4d4e5;
  color: #333333;
}

.custom-table thead {
  background-color: #2c3e50;
  border-color: #2c3e50;
  padding: 2rem;
  border-radius: 1rem;
  color: #ffffff;
}

.custom-table tbody tr {
  background-color: #e9f0f8;
  color: #333333;
}

.custom-table tbody tr:nth-child(even) {
  background-color: #d0dfe9;
  color: #333333;
}

.custom-table tbody tr:hover {
  background-color: #c4d4e5;
  color: #333333;
}

.open {
  color: #28a745;
}

.closed {
  color: #dc3545;
}

.action-buttons {
  min-width: 160px;
}

.adjusted-tag {
  background-color: #28a745;
  border: none;
  color: white;
  padding: 2px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 2px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.original-tag {
  background-color: #6c757d;
  border: none;
  color: white;
  padding: 2px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 2px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.value-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.positive-value {
  color: #28a745;
  background-color: #e1f5df;
  font-weight: bold;
}

.negative-value {
  color: #dc3545;
  background-color: #f8d7da;
  font-weight: bold;
}
